<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303306453459-ds94sg04qq1p8i6hgofo34gr5sslbbbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303306453459-ds94sg04qq1p8i6hgofo34gr5sslbbbc</string>
	<key>API_KEY</key>
	<string>AIzaSyA-bNACRe14lBVDViNcsu4AyMhV-7cCsBI</string>
	<key>GCM_SENDER_ID</key>
	<string>303306453459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>travel.app.app</string>
	<key>PROJECT_ID</key>
	<string>thesis-project-firebase-24b03</string>
	<key>STORAGE_BUCKET</key>
	<string>thesis-project-firebase-24b03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303306453459:ios:a8361c8a82f06884c03f26</string>
</dict>
</plist>